@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-card-skin-initial: var(--color-card-initial);
  --color-card-skin-final: var(--color-card-final);

  --text-color-skin-base: var(--color-text-base);
  --text-color-skin-muted: var(--color-text-muted);
  --text-color-skin-inverted: var(--color-text-inverted);

  --background-color-skin-fill: var(--color-fill);
  --background-color-skin-fill-accent: var(--color-fill-accent);
  --background-color-skin-fill-inverted: var(--color-text-base);
  --background-color-skin-button-accent: var(--color-button-accent);
  --background-color-skin-button-accent-hover: var(--color-button-accent-hover);
  --background-color-skin-button-muted: var(--color-button-muted);

  --border-color-skin-base: var(--color-fill-accent);
  --border-color-skin-inverted: var(--color-fill);

  /* Add custom breakpoints */
  --breakpoint-xs: 425px;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --color-text-base: #171717;
    --color-text-muted: #646363;
    --color-text-inverted: #fcfaf1;
    --color-fill: #fcfaf1;
    --color-fill-accent: #f2f1d8;
    --color-button-accent: #f5b553;
    --color-button-accent-hover: #f0b864;
    --color-button-muted: #171717;
    --color-card-initial: oklch(0.656 0.241 354.308);
    --color-card-final: oklch(0.585 0.233 277.117);
  }

  .dark {
    --color-text-base: #fcfaf1;
    --color-text-muted: #b5b5b5;
    --color-text-inverted: #171717;
    --color-fill: #171717;
    --color-fill-accent: #0f0f0f;
    --color-button-accent: #f0b864;
    --color-button-accent-hover: #f5b553;
    --color-button-muted: #fcfaf1;
    --color-card-initial: oklch(0.656 0.241 354.308);
    --color-card-final: oklch(0.585 0.233 277.117);
  }
}
