@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --color-text-base: #171717;
    --color-text-muted: #646363;
    --color-text-inverted: #fcfaf1;
    --color-fill: #fcfaf1;
    --color-button-accent: #f5b553;
    --color-button-accent-hover: #f0b864;
    --color-button-muted: #171717;
  }

  .dark {
    --color-text-base: #fcfaf1;
    --color-text-muted: #b5b5b5;
    --color-text-inverted: #171717;
    --color-fill: #171717;
    --color-button-accent: #f0b864;
    --color-button-accent-hover: #f5b553;
    --color-button-muted: #fcfaf1;
  }
}
